.button {
    -fx-background-color: derive(brown, 20%);
    -fx-background-radius: 20;
    -fx-border-color: goldenrod;
    -fx-border-width: 2;
    -fx-border-radius: 15;
    -fx-padding: 10 20;
    -fx-font-size: 16;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 10, 0, 0, 0);
}

.button:hover {
    -fx-background-color: #ffd700;
    -fx-text-fill: black;
}

#theDrakeText {
    -fx-fill: black;
    -fx-font-family: "Lucida Calligraphy";
    -fx-font-size: 70;
    -fx-font-weight: bold;
}