#q_orange {
    -fx-padding: 100 0;
}

#q_blue {
    -fx-padding: 105 0;
}

#grid{
    -fx-padding: 0 0 0 48;
}

#logo{
    again_button: 80;
}

#ending_fragment_headline{
    -fx-font-size: 40;
    -fx-font-family: "Arial Black";
    -fx-text-fill: white;
}

.button {
    -fx-background-color: derive(brown, 20%);
    -fx-background-radius: 20;
    -fx-border-color: goldenrod;
    -fx-border-width: 2;
    -fx-border-radius: 15;
    -fx-padding: 10 20;
    -fx-font-size: 16;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 10, 0, 0, 0);
}

.button:hover {
    -fx-background-color: #ffd700;
    -fx-text-fill: black;
}
